################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KawamlehMan/bin
/KawamlehMan/obj
/.vs
